.sign_up {
  background-color: #1D6BD7; /* Green */
  border: 3px;
  color: white;
  padding: 5px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  margin: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
}
.log_in {
  background-color: white;
  color: #1D6BD7;
  border: 2px solid #1D6BD7;
  padding: 5px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  margin: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
}
.button {
  background-color: #1D6BD7; /* Green */
  border: 3px;
  color: white;
  padding: 5px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  margin: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
}
body {
  background-color: #DCE2E6;
}
.box {
  background-color: white;
  padding: 0px;
}
.vote {
  background-color: white; /* Green */
  border: 3px;  
  color: black;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 0px;
}
.inline {
  display: inline-block;

}
.tag {
  background-color: #F2793D; /* Green */
  border: 1px;
  color: white;
  padding: 3px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 30px;
  margin: 0px;
  font-family: "Lucida Console", "Courier New", monospace;
}
.h2 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
   font-size: medium;
   padding-top: 200px;
} 

.h2-span { 
    background:#fff; 
    padding:0 10px; 
    color: black;
}
.log {
  background-color: white;
  border: 1px solid grey;
  padding: 10px 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px;
}
.log-button {
  background-color: #1D6BD7; /* Green */
  border: 3px;
  color: white;
  padding: 10px 95px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  border-radius: 30px;
  margin: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
}
.title {
  background-color: white;
  border: 1px solid lightgrey;
  padding: 10px 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px;
  width: 870px;
}
.text {
  background-color: white;
  border: 1px solid lightgrey;
  padding: 10px 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px;
  width: 870px;
  height: 200px;
}
.post-box{
  margin-top: 20px;
}